@page "/fetchdata"
@using BlazorApp1.Shared
@inject HttpClient Http

<h1>Weather forecast</h1>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Table TItem="WeatherForecast"
           Items="forecasts"
           IsPagination="true"
           IsBordered="true"
           IsMultipleSelect="true"
           AddButtonText="추가"
           DeleteButtonText="삭제"
           ShowToolbar="true"
           ShowRefresh="false">
         <TableColumns>
             <TableColumn @bind-Field="@context.Date"/>
             <TableColumn @bind-Field="@context.TemperatureC" />
             <TableColumn @bind-Field="@context.Summary" />
         </TableColumns>
    </Table>
}


